<article>
  <header>
    <h1>{{.Params.title}}</h1>
  </header>
  <aside>
  <div class="toc_card">
    <div id="toc_header" class="card-title border d-flex justify-content-between">
        <a data-toggle="collapse" href="#toc_body" role="button" aria-expanded="true" aria-controls="toc_body">
          What's in this page?</a>
    </div>
    <div id="toc_body" class="card-body collapse">
      <ul id="toc_ul" class="list-unstyled components">
      </ul>
    </div>
  </div>
  <span style="font-size: smaller">Expand? <i id="toggle-toc-expansion-icon" class="fa fa-toggle-off"></i></span>
  </div>
  <div  id="toc">
  </div>
   </aside>
  {{ .Content }}
</article>
