<article>
  <header>
    <h1>{{.Params.title}}</h1>
  </header>
  <aside>
  <div id="toc_card" class="card border ">
    <a id="tg-sb-link" href="#"><i id="tg-sb-icon-content-pane" class="fa fa-toggle-on"></i>Sidebar</a>
    <div id="toc_header" class="card-title border d-flex justify-content-between">
        <a data-toggle="collapse" href="#toc_body" role="button" aria-expanded="true" aria-controls="toc_body">
          What's in this page? <i class="fas fa-caret-down"></i> </a>
        <a id="editLink" class="btn btn-primary"  href="{{print .Site.Params.githubEditMePathBase .File.Path }}"><i class="fas fa-edit"></i></a>
    </div>
    <div id="toc_body" class="card-body collapse p-0">
      <!-- list and pl1 are tachyon style classes. p-0 is a boostrap style class for 0 padding. -->
      <ul id="toc_ul" class="list p-0">
      </ul>
    </div>
  </div>
  <div  id="toc">
  </div>
  </aside>
  <div id="post_content">
  {{ .Content }}
  </div>
</article>
