<article>
  <header>
    <h1>{{.Params.title}}</h1>
  </header>
  <aside id="toc">
    <a id="tg-sb-link" href="#"><i id="tg-sb-icon-content-pane" class="fa fa-toggle-on"></i>Sidebar</a>
    <div id="toc_header">
            <i id="toggle-toc-icon" class="fa fa-toggle-on"></i> What's in this page? <i class="fa fa-space-shuttle"></i>
            <span style="font-size: smaller">Expand? <i id="toggle-toc-expansion-icon" class="fa fa-toggle-off"></i></span>
    </div>
    <ul id="toc_ul" class="list-unstyled components">
    </ul>
   </aside>
  {{ .Content }}
</article>
