<!-- p-1 is bootstrap padding class. bg-yellow is from tachyons.-->
<header class="p-1 {{.Site.Params.background_color_class | default "bg-yellow" }}">
    <nav role="navigation">
      <div class="row">
        <div class="col-md-3 justify-content-start">
          <a  href="{{ "/" | relURL }}" class="btn col border">
            <i class="fas fa-gopuram ">{{.Site.Title}}</i>
          </a>
        </div>
        <div class="col-md-auto d-flex justify-content-center">
          <input id="titleSearchInputBox" placeholder="शीर्षिकान्विष्यताम्"><i class="btn fas fa-search "></i>
          <a href="{{ "custom_site_search/" | relURL }}"  class="btn btn-default">Full search</a>
        </div>
          {{ if .Site.Menus.main }}
          <div >
            <ul class="">
              {{ range .Site.Menus.main }}
              <li class="">
                <a class="" href="{{ .URL }}" title="{{ .Name }} page">
                  {{ .Name }}
                </a>
              </li>
              {{ end }}
            </ul>
          </div>
          {{ end }}
      </div>
    </nav>
</header>
